In [1]:
import numpy as np

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
data = np.random.randint(0,100,(10,2))

In [5]:
data

array([[86, 28],
       [24,  2],
       [72, 79],
       [59, 83],
       [ 6, 30],
       [74, 22],
       [67, 82],
       [ 5, 98],
       [70, 62],
       [40, 49]])

In [6]:
scaler_model = MinMaxScaler()

In [7]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [8]:
scaler_model.fit(data)

/home/cguertz/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
scaler_model.transform(data)

array([[1.        , 0.27083333],
       [0.2345679 , 0.        ],
       [0.82716049, 0.80208333],
       [0.66666667, 0.84375   ],
       [0.01234568, 0.29166667],
       [0.85185185, 0.20833333],
       [0.7654321 , 0.83333333],
       [0.        , 1.        ],
       [0.80246914, 0.625     ],
       [0.43209877, 0.48958333]])

In [10]:
scaler_model.fit_transform(data)

/home/cguertz/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[1.        , 0.27083333],
       [0.2345679 , 0.        ],
       [0.82716049, 0.80208333],
       [0.66666667, 0.84375   ],
       [0.01234568, 0.29166667],
       [0.85185185, 0.20833333],
       [0.7654321 , 0.83333333],
       [0.        , 1.        ],
       [0.80246914, 0.625     ],
       [0.43209877, 0.48958333]])

In [2]:
import pandas as pd

In [5]:
my_data = np.random.randint(0,101,(50,4))

In [4]:
import numpy as np

In [6]:
my_data

array([[ 20,  69,  48,  65],
       [ 56,  20,  37,   6],
       [ 45,  10,  95,  88],
       [ 98,  94,   1,  95],
       [ 81,  41,  37,  27],
       [ 88,  36,  11,  83],
       [ 89,  94,  11,  90],
       [100,  28,  29,  48],
       [ 93,  62,  81,  38],
       [ 96,  40,  53,  66],
       [ 99,  18,   3,  34],
       [ 82,  26,  20,  32],
       [  3,  64,  43,  50],
       [ 21,  83,  78,  95],
       [  6,  11,  98,  72],
       [  6,  89,  82,   3],
       [ 33,   1,  26,  72],
       [ 74,   9,  86,  10],
       [ 34,  11,  26,  79],
       [  4,  77,   9,  95],
       [100,  97,  16,  87],
       [ 57,  25,  85,  51],
       [ 79,  44,  19,  32],
       [  4,   3,   7,  77],
       [ 93,  84,  37,  50],
       [ 51,  16,  99,  22],
       [ 44,  91,  39,  41],
       [ 66,  20,  25,  63],
       [ 27,  13,  34,  12],
       [ 40,  39,  56,   8],
       [ 97,  31,  50,  11],
       [ 40,  26,  12,  33],
       [ 23,  73,  41,  26],
       [  4,  83,  27,  34],
       [ 95,  34,   9,  93],
       [ 87,  43,  55,  63],
       [ 58,  50,  75,  77],
       [ 84,  41,  96,  36],
       [ 58,  33,  89,  28],
       [ 77,  64,   0,  39],
       [ 58,   7,  34,  68],
       [ 18,  71,  89,  25],
       [ 56,  61,  28,  54],
       [ 42,  55,  19,  31],
       [ 58,  43,  83,  90],
       [ 41,  19,  58,  74],
       [ 33,  59,  67,  66],
       [ 16,  71,  19,  76],
       [ 80,  54,  44,  83],
       [ 64,  12,  23,  35]])

In [12]:
df = pd.DataFrame(data=my_data, columns = ['f1', 'f2', 'f3', 'label'])

In [13]:
df

     f1  f2  f3  label
0    20  69  48     65
1    56  20  37      6
2    45  10  95     88
3    98  94   1     95
4    81  41  37     27
5    88  36  11     83
6    89  94  11     90
7   100  28  29     48
8    93  62  81     38
9    96  40  53     66
10   99  18   3     34
11   82  26  20     32
12    3  64  43     50
13   21  83  78     95
14    6  11  98     72
15    6  89  82      3
16   33   1  26     72
17   74   9  86     10
18   34  11  26     79
19    4  77   9     95
20  100  97  16     87
21   57  25  85     51
22   79  44  19     32
23    4   3   7     77
24   93  84  37     50
25   51  16  99     22
26   44  91  39     41
27   66  20  25     63
28   27  13  34     12
29   40  39  56      8
30   97  31  50     11
31   40  26  12     33
32   23  73  41     26
33    4  83  27     34
34   95  34   9     93
35   87  43  55     63
36   58  50  75     77
37   84  41  96     36
38   58  33  89     28
39   77  64   0     39
40   58   7  34     68
41   18  71  89     25
42   56  61  28     54
43   42  55  19     31
44   58  43  83     90
45   41  19  58     74
46   33  59  67     66
47   16  71  19     76
48   80  54  44     83
49   64  12  23     35

In [19]:
X = df[['f1', 'f2', 'f3']]

In [15]:
x

     f1  f2  f3
0    20  69  48
1    56  20  37
2    45  10  95
3    98  94   1
4    81  41  37
5    88  36  11
6    89  94  11
7   100  28  29
8    93  62  81
9    96  40  53
10   99  18   3
11   82  26  20
12    3  64  43
13   21  83  78
14    6  11  98
15    6  89  82
16   33   1  26
17   74   9  86
18   34  11  26
19    4  77   9
20  100  97  16
21   57  25  85
22   79  44  19
23    4   3   7
24   93  84  37
25   51  16  99
26   44  91  39
27   66  20  25
28   27  13  34
29   40  39  56
30   97  31  50
31   40  26  12
32   23  73  41
33    4  83  27
34   95  34   9
35   87  43  55
36   58  50  75
37   84  41  96
38   58  33  89
39   77  64   0
40   58   7  34
41   18  71  89
42   56  61  28
43   42  55  19
44   58  43  83
45   41  19  58
46   33  59  67
47   16  71  19
48   80  54  44
49   64  12  23

In [16]:
y = df['label']

In [17]:
y

0     65
1      6
2     88
3     95
4     27
5     83
6     90
7     48
8     38
9     66
10    34
11    32
12    50
13    95
14    72
15     3
16    72
17    10
18    79
19    95
20    87
21    51
22    32
23    77
24    50
25    22
26    41
27    63
28    12
29     8
30    11
31    33
32    26
33    34
34    93
35    63
36    77
37    36
38    28
39    39
40    68
41    25
42    54
43    31
44    90
45    74
46    66
47    76
48    83
49    35
Name: label, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [21]:
X_train.shape

(33, 3)